li.Menu
    a.menuLink(href="/Tienda") Productos
li.Menu
    a.menuLink(href="/SobreNosotros") Nosotros
li.Menu
    a.menuLink(href="/mi-cuenta") Mi Cuenta
    ul.SubMenu(class=Pagina != 'Index' ? 'BarraCom' : '')
li 
    a(href="/cerrar-sesion") Cerrar Sesion    