extends layout 

block contenido 
    section.Section.seccionNosotros
        .Contenedor.ContenedorNosotros 
            .ImagenesNosotros
                img.img1(src="/img/2.jpg", alt="Celulares")
            .SobreNosotros 
                h2 Sobre Nosotros 
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum repellendus vel ipsam ex distinctio officiis magnam adipisci modi fugit quo possimus enim, reprehenderit quibusdam laboriosam commodi libero impedit! Aliquid, nostrum.

    //-- Celulares --//
    section.Section.Celulares
        h2 Algunos de Nuestros Celulares 
        .ContenedorCelu 
            .Contenedor.ContendorProductos
                .Producto 
                    .Imagen 
                        img(src="/img/motrola-g9.png", alt="")
                        h3 Motrola G9
                        p Celular Nuevo
                .Producto 
                    .Imagen 
                        img(src="/img/motrola-g9.png", alt="")
                        h3 Motrola G9
                        p Celular Nuevo
                .Producto 
                    .Imagen 
                        img(src="/img/motrola-g9.png", alt="")
                        h3 Motrola G9
                        p Celular Nuevo
                
    //- Gaaleria-//
    section.Seccion.Galeria 
        h2 Galeria 
        .Contenedor.ContenedorImagenes
            img.ImgGal(src="/img/samsunga02.png", alt="Celular")
            img.ImgGal(src="/img/samsungs20.png", alt="Celular")
            img.ImgGal(src="/img/nokia1.6.png", alt="Celular")
            img.ImgGal(src="/img/motrolalag22.png", alt="Celular")
            img.ImgGal(src="/img/alcatela3.png", alt="Celular")
            img.ImgGal(src="/img/samsunga02.png", alt="Celular")
        
    //- Paralax
    section.Seccion.ContenedorPatalla.C 
        .BackgroundPantalla 
            .Contenedor.ContenedorTexto 
                h2 Disfruta de la mejores ultimas tecnologias de celulares!! 
    //-informacion
    section.Seccion.Info
        h2 Informacion importante 
        .Contenedor.ContInfoTortas 
            .InformacionDiv 
                .Border 
                    p Envios a todo el pais.
            .InformacionDiv 
                .Border 
                    p Productos originales y de calidad.
            .InformacionDiv 
                .Border 
                    p Aceptamos todos los medios de pago.
    